[Unit]
Description=Btrfs Maintenance (Scrub and Balance)
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/btrfs_care --log /var/log/btrfs_care.log --log-format json --log-rotate 10MiB
StandardOutput=journal
StandardError=journal
